<p id="notice"><%= notice %></p>



<div class="p-5 mb-4 bg-secondary rounded-3">
  <div class="container-fluid py-5 bg-light"> 


<p class="text-uppercase fs-1">
  <strong> <%= @friend.first_name %></strong>
   <strong><%= @friend.last_name %></strong>
</p>



<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @friend.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @friend.twitter %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary"
 %> 
<%= link_to 'Back', friends_path, class:"btn btn-secondary" %>


</div>

 
</div>


